# Custom css style for django-shop
#
# standard colors:
#
#

.navbar {
    border-radius: 0 !important;
}

.std-margins {
    margin: 15px !important;
}

#content {
    margin: 15px auto !important;
    width: 96%;
}

div.payment-form label {
    display: block;
}

div.payment-form input {
    display: block;
    margin-bottom: 1em;
}

ul.errorlist {
    list-style: none;
}

ul.errorlist li {
    color: red;
}

footer {
    margin: 2em 1em 0 1em !important;
    background-color: #eee;
}