{% load static %}
{% load bootstrap3 %}
{% load www_app %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>{% block title %}Django Profiling{% endblock %}</title>

    {# Load CSS and JavaScript #}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<nav role="navigation" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="https://github.com/westial/Django-Profiling-Environment"
               class="navbar-brand">
                Django Profiling Environment
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li{% if request.get_full_path|www_app = "/rdbms" %} class="active"{% endif %}>
                <a href="/rdbms">Version RDBMS</a></li>
            <li{% if request.get_full_path|www_app = "/cassandra" %} class="active"{% endif %}>
            <a href="/cassandra">Version Cassandra</a></li>
        </ul>
    </div>
    <!-- /.container-fluid -->
</nav>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div id="content">
    {% block content %}{% endblock %}
</div>
<footer>
    <p>This webpage is part of a testing environment, this is not a real
    e-commerce site. Visit the project site for more information about:
    <a href="https://github.com/westial/Django-Profiling-Environment"
       target="_blank">https://github.com/westial/Django-Profiling-Environment
    </a></p>
    <p>Licensed under <a href="http://www.gnu.org/licenses/gpl.txt"
                         target="_blank">GPL v-3</a>.</p>
</footer>
</body>
</html>